<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CreateCliente</title>
    <link rel="stylesheet" href="../../css/global/global.css">
    <link rel="stylesheet" href="../../css/cliente/create.css">
    
</head>
<body>
    <section id="sideBar">
        <img src="../../css/global/img/logo.png" alt="Logo" id="logo">
        <h2 id="sideBarTitle">ReiControll</h2>

        <ul class="navBar">
            <li><a href="home.html" class="navItem">Clientes</a></li>
            <li><a href="../produto/home.html" class="navItem">Produtos</a></li>
            <li><a href="../vendas/home.html" class="navItem">Vendas</a></li>
        </ul>
    </section>

    <section id="homeBar">
        <h1 id="title">Clientes</h1>
    </section>

    <section id="clientCard">
    
        <section id="createCard">
                <h2 class="titleCard">Adicionar Cliente</h2>
            <div class="cardform">

                <form id="createClient">
                    <label for=>Nome (Proprietário): <br>
                    <input type="text" id="clientName"></label>
            
                    <label >Nome (Estabelecimento): <br>
                        <input type="text" id="companyName"></label>
            
                    <label >CNPJ: <br>
                        <input type="text" id="cnpj"></label>
            
                    <label>Endereço: <br>
                        <input type="text" id="adress"></label>

                    <div class="actions">
                        <button id="btnCreateClient"><h3>Create</h3></button>
                    </div>
                </form>


      
            </div>
        </section>
    </section>

<script src="../../js/cliente/Create.js"></script>   
</body>
</html>
