<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <link rel="stylesheet" href="../../css/global/global.css">
    <link rel="stylesheet" href="../../css/cliente/get.css">
</head>
<body>
    <section id="sideBar">
        <img src="../../css/global/img/logo.png" alt="Logo" id="logo">
        <h2 id="sideBarTitle">ReiControll</h2>

        <ul class="navBar">
            <li><a href="home.html" class="navItem">Clientes</a></li>
            <li><a href="../produto/home.html" class="navItem">Produtos</a></li>
            <li><a href="../vendas/home.html" class="navItem">Vendas</a></li>
        </ul>
    </section>

    <section id="homeBar">
        <h1 id="title">Clientes</h1>
        

        
    </section>

    
    
    <section id="dataClient">
        <section id="infoClient">
            <h2 class="titleCard">Dados do Cliente</h2>

        <div class="cardInfo">
            <h2 class="titleClient">
                <p id="txtnameCompany">Pizzaria Colonial</p>
                <p id="nameClient">Seu João</p>
            </h2>

            <div class="moreInfos">
                <p id="txtCNPJ"><strong>CNPJ: </strong>12345667</p>
                <p id="txtAdress"><strong>Endereço: </strong>Gopouva</p>
            </div>

            <div class="actions">
                <button id="btnDelete"><h3>Delete</h3></button>
            </div>
        </div>
        </section>

        <section id="infoClient">
            <h2 class="titleCard">Update de dados</h2>

        <div class="cardform">

            <form action="">
                <label for="nameClient">Nome(Proprietário): <br>
                    <input type="text" name="nameClient" id="nameClient">
                </label>

                <label for="nameCompany">Nome(Estabelecimento): <br>
                    <input type="text" name="nameCompany" id="nameCompany">
                </label>

                <label for="cnpj">CNPJ: <br>
                    <input type="text" name="cnpj" id="cnpj">
                </label>

                <label for="adress">Endereço: <br>
                    <input type="text" name="adress" id="adress">
                </label>
                
            </form>


            <div class="actions">
                <button id="btnUpdate"><h3>Update</h3></button>
            </div>
        </div>
        </section>

     
    </section>
</body>
</html>
