<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clientes</title>
    <link rel="stylesheet" href="../../css/global/global.css">
    <link rel="stylesheet" href="../../css/produto/create.css">
</head>
<body>
    <section id="sideBar">
        <img src="../../css/global/img/logo.png" alt="Logo" id="logo">
        <h2 id="sideBarTitle">ReiControll</h2>

        <ul class="navBar">
            <li><a href="../cliente/home.html" class="navItem">Clientes</a></li>
            <li><a href="home.html" class="navItem">Produtos</a></li>
            <li><a href="../vendas/home.html" class="navItem">Vendas</a></li>
        </ul>
    </section>

    <section id="homeBar">
        <h1 id="title">Produtos</h1>
        

        
    </section>

    
    
    <section id="dataProd">
    
        <section id="infoProd">
            <h2 class="titleCard">Criar  novo cliente</h2>

        <div class="cardform">
            <form action="">
                <label for="nameProd">Nome: <br>
                    <input type="text" name="nameProd" id="nameProd">
                </label>

                <label for="typeProd">Tipo de produto: <br>
                    <input type="text" name="typeProd" id="typeProd">
                </label>

                <label for="storage">Estoque: <br>
                    <input type="text" name="storage" id="storage">
                </label>

                <label for="valid">Validade: <br>
                    <input type="text" name="valid" id="valid">
                </label>
                
            </form>


            <div class="actions">
                <button id="btnCreateProd"><h3>Create</h3></button>
            </div>
        </div>
        </section>

     
    </section>
</body>
</html>
